<h2
  style="
    color: white;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      sans-serif;
  "
>
  <%= nama_tamu ? nama_tamu : 'Guest' %>
</h2>
