<!-- Develop by Ryan Faiz Sanie [https://linkedin.com/in/ryanfaizsanie] -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> </title>
    <link rel="shortcut icon" href="/favicon.jpg" type="image/jpeg" />
  </head>

  <body class="bg-gray-100 font-sans">
    <section><%- body %></section>
  </body>
</html>
